.app {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-background-main);
}

.content {
    max-width: 1200px;
    width: 100%;
    background-color: var(--color-background-content);
    padding: 16px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 8px;
}

.gallery-card {
    background: rgb(99, 99, 100);
    display: block;
    width: 350px;
    padding: 8px;
    border-radius: 16px;
    min-width: 350px;
}

.card-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

.image-container {
    width: 100%;
    height: 200px;
}

.switch-container {
    display: flex;
    gap: 8px;
}